.userTypingArea{
    opacity: 0;
    position: absolute;
    z-index: 1;

}


@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}
.default{
    color: rgb(209, 238, 244);
                   

}
.defaultActive{
    border-bottom: 3px solid yellow;
    color: rgb(209, 238, 244);
    
}
.correct{
color: rgb(220, 196, 15);
}
.wrong{
color: rgb(29, 192, 198)
}
.typeHead {
    font-size: 2em;
    color:  rgb(209, 238, 244);
    border-radius: 25px;
  
    place-items: center;
    font-family: monospace;
    

  }
.typingTest2{
    font-size: 2em;    
    border-radius: 25px;
 
    place-items: center;
    font-family: monospace;
    
    
    /* min-width: auto;
    min-height: auto; */
    
    
}
html {/*background-color: #27296d; */
    background-color: rgb(22, 11, 52);
}
